NODE_ENV="development"

APP_NAME="Devcase"
API_BASE_PATH="/api/v1"

PORT=8080

SESSION_SECRET_KEY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

FILESYSTEM_STORAGE_PATH='./public/images'

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM=
MAIL_USERNAME=
MAIL_PASSWORD=

DATABASE_URL="postgresql://postgres:root@localhost:5432/postgres"

# On-demand ISR (must match Vercel project env)
VERCEL_BYPASS_TOKEN=
