# Logs
/logs
*.log
/public
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# VS Code
.vscode
# macOS
.DS_Store
# dotenv environment variables file
.env
node_modules
npm-debug.log
pgdata
# generated
/dist
src/generated/prisma/
