@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --text-xxs: 0.6875rem; /* 11px */

  --ui-primary: var(--color-primary-500);
  --color-primary-50: #eef4ff;
  --color-primary-100: #d9e6ff;
  --color-primary-200: #bcd3ff;
  --color-primary-300: #8eb4ff;
  --color-primary-400: #5b8cff;
  --color-primary-500: #0055ff;
  --color-primary-600: #0047d6;
  --color-primary-700: #0038ab;
  --color-primary-800: #002d87;
  --color-primary-900: #00266d;
  --color-primary-950: #00153d;
}

html,
body {
  @apply bg-[var(--ui-bg)];
}
